// Colors

// Primary

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);

// Typography

$base-font-size: 1rem;

$ff-heading: "Josefin Sans", sans-serif;
$ff-body: "Alata", sans-serif;

// spacing
$base-spacing: 0.75rem;
