.header__primary-nav {
  display: none;

  @include lg {
    display: block;
  }
  .header__nav-list {
    display: flex;
    gap: $base-spacing * 2.75;

    .header__nav-link {
      font-size: $base-font-size * 0.9375;
      color: $white;

      @include breakpoint(1536px) {
        font-size: $base-font-size * 1.125;
      }
    }
  }
}
